body{
    margin: 0;
    padding: 0;

}
.header{
    margin: 0;

    background-color: rgb(27, 27, 104);
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;


}
.header >.links-wrapper{
    width: 300px;
    height: 90px;
     display: flex;
     justify-content: space-around;
     align-items: center;

}
a{
     text-decoration: none;
    color: black;
}      
.hero{
    width: 100%;
    height: 400px;
    background-color:transparent;
    display: flex;
    flex-direction: column;
    align-items: center;

}        
.hero >.pro-boxes{
    width: 100%;
    height: 300px;
    background-color: rgb(173, 173, 207);
    display: flex;
    margin: 20px;

}
.hero >.pro-boxes >.boxes{
    margin: 2px;
    padding: 50px;
    display: grid;
}
.hero >.pro-boxes >.boxes img{
    width: 100%;
    height: 70px;
    border-radius: 100%;
}
.footer{
    text-align: center;
    color: rgb(2, 2, 2);
    text-decoration: solid;
}