body{
    margin: 0;
    padding: 0;

}
.header{
    margin: 0;

    background-color: rgb(95, 68, 16);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;


}
.header >.links-wrapper{
    width: 300px;
    height: 90px;
     display: flex;
     justify-content: space-around;
     align-items: center;

}
a{
     text-decoration: none;
    color: black;
}      
.hero{
    width: 100%;
    height: 600px;
    background-image:url(images/istockphoto-644430324-1024x1024.jpg);
    background-position: center;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}        
.pro-boxes{
    width: 100%;
    height: 300px;
    display: flex;
    border-bottom: solid 9px transparent;
    border-radius: 15px;

}
.box{
    width: 100%;
    margin: 20px;
    padding: 50px;
    background-color: rgb(236, 223, 148);
    
}
.pro-boxes :hover{
   
    border-bottom: solid 9px;
    border-radius: 15px;

}
.hero >.pro-boxes >.box >.boxes-img img{
    width: 70px;
    height: 50px;
}
.hero >.pro-boxes >.box >.boxes-img{


}
.footer{
    background-color: rgb(95, 68, 16);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(2, 2, 2);
    text-decoration: solid;
   
}